.reg-form {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 20px;
    height: 40px;
    width: 247px;

    &:not(.nickname-inp) {
      margin-top: 16px;
    }
  }

  .reg-btn {
    border: none;
    background-color: gray;
    color: white;
  }
}