.item-box {
  display: flex;
  flex-direction: column;
  margin: 24px 5px 24px 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);

  .item-header {
    flex: 1;
    padding: 8px 0 8px 0;
    display: flex;

    .item-header-left {
      flex: .5;
      padding-left: 15px;
      padding-right: 15px;

      .item-header-img {
        height: 50px;
        width: 50px;

        img {
          max-width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
    }

    @media (min-width:768px){
      .item-header-left {
        flex: .2;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    @media (min-width:1200px){
      .item-header-left {
        flex: .1;
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    .item-header-center {
      flex: 2;
      display: flex;
      flex-direction: column;

      .item-header-title {
        flex: 1;
        font-size: 15px;
      }

      .item-header-place {
        flex: 1;
        font-size: 12px;
        color: gray;
      }

      @media (min-width:1200px){
        .item-header-title {
          font-size: 18px;
        }

        .item-header-place {
          font-size: 15px;
        }
      }
    }

    .item-header-right {
      flex: .5;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  .item-img {
    flex: 1;

    .image {
      display: flex;
      justify-content: center;
      height: 240px;

      img {
        width: 100%;
        max-height: 100%;
      }
    }

    @media (min-width:768px){
      .image {
        height: 350px;
      }
    }

    @media (min-width:1200px){
      .image {
        height: 500px;
      }
    }
  }

  .item-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &:not(.icon-like, .icon-comment) {
      flex: 1;
      padding: 0 16px 0 16px;
      font-size: 14px;
      line-height: 1.5rem;
    }

    @media (min-width:768px){
      &:not(.icon-like, .icon-comment) {
        padding: 0 25px 0 25px;
        font-size: 16px;
        line-height: 2rem;
      }
    }

    @media (min-width:1200px){
      &:not(.icon-like, .icon-comment) {
        padding: 0 40px 0 40px;
        font-size: 20px;
        line-height: 3rem;
      }
    }
    
    .item-icon {
      display: flex;

      div {
        width: 25px;
        height: 25px;
      }

      .icon-like {
        background-image: url(../../../images/like/like.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      .likeOn {
        background-image: url(../../../images/like/like-2.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      .icon-comment {
        background-image: url(../../../images/comment/comments.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      @media (min-width:1200px){
        div {
          width: 50px;
          height: 50px;
        }
  
        .icon-like {
          background-image: url(../../../images/like/like@2x.png);
          background-position: center;
          background-repeat: no-repeat;
        }
  
        .icon-comment {
          background-image: url(../../../images/comment/comments@2x.png);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .item-title {
      font-size: 15px;
    }

    @media (min-width:768px){
      .item-title {
        font-size: 20px;
      }
    }

    @media (min-width:1200px){
      .item-title {
        font-size: 23px;
      }
    }

    .item-desc, .item-comment-btn {
      color: gray;
    }

    .item-comment-btn {
      span {
        cursor: pointer;

        &:hover {
          color: rgb(79, 148, 250);
        }
      }
    }

    .item-tag {
      color: rgb(25, 119, 119);
    }
  }
}