.btn {
  display: flex;
  flex-direction: column;

  button {
    border-radius: 20px;
    height: 40px;
    width: 247px;
    background-color: white;
  }

  .login-btn {
    border: 1px solid black;
  }

  .reg-btn {
    border: 1px solid blue;
    margin-top: 16px;
  }
}