.comment-box {
  display: flex;
  height: 70px;
  border-bottom: 1px solid gray;

  .comment-img {
    flex: .2;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-img {
      width: 70%;
      height: 70%;
      border-radius: 20px;
      background-color: #e0e0e0;
    }

    @media (min-width:768px){
      .user-img {
        width: 50%;
        border-radius: 30px;
      }
    }

    @media (min-width:1200px){
      .user-img {
        width: 40%;
        border-radius: 40px;
      }
    }
  }

  .comment-text {
    flex: 1;
    display: flex;
    flex-direction: column;

    .comment-top, .comment-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .comment-top {
      flex: 1;

      .comment-user {
        width: 90%;
        height: 90%;
        font-weight: bold;
      }
    }

    .comment-bottom {
      flex: 2;

      .comment-desc {
        width: 90%;
        height: 90%;
        color: #aaaaaa;

        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid gray;
          height: 30px;

          &:focus {
            outline: 0;
            border-bottom: 2px solid #4a90e2;
          }
        }
      }
    }
  }

  .comment-btn {
    flex: .3;
    display: flex;
    align-items: center;
  }
}

@media (min-width:768px){
  .comment-box {
    height: 90px;
  }
}

@media (min-width:1200px){
  .comment-box {
    height: 100px;
  }
}